{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% for quote in quotes %}
                <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
                    <span class="text" itemprop="text">
                        {{quote.quote}}
                    </span>
                    <span>by <small class="author" itemprop="author">{{quote.author_id|author}}</small>
                        <a href="{% url 'quotes:author_detail' pk=quote.author_id %}">(about)</a>
                    </span>
                    <div class="tags">
                        Tags:
                        {% for tag in quote.tags.all %}
                            <a class="tag" href="/tag/{{tag.name}}">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                           href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                            <span aria-hidden="true">←</span> Previous
                        </a>
                    </li>

                    <li class="next">
                        <a class="{% if not quotes.has_next %} disabled {% endif %}"
                           href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                            Next <span aria-hidden="true">→</span>
                        </a>
                    </li>

                    {% if quotes.has_next %}
                    <li class="last">
                        <a href="{% url 'quotes:root_paginate' quotes.paginator.num_pages %}">Last page</a>
                    </li>
                    {% endif %}
                </ul>
                </ul>
            </nav>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    Top Ten tags
                </div>
                <ul class="list-group list-group-flush">
                    {% for tag in tags %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'quotes:tag_quotes' tag_name=tag.name %}" class="text-decoration-none">{{ tag.name }}</a>
                        <span class="badge bg-primary rounded-pill">{{ tag.num_quotes }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
